<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Mission to Mars!</title>
  
  <!-- Bootstrap CSS -->
  
</head>

<body>

  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h3 class="heading">{{record[0].news_title}}</h3>
        <p>{{record[0].news_body}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Featured Mars Image</h2>
        <img src="{{record[0].featured_image}}" width="100%"/>
      </div>

      <div class="col-md-6">
        
        <div class="row">
          <h3>Current Weather on Mars</h3>
        </div>

        <div class="row">
          <p>{{record[0].mars_weather}}</p>
        </div>

        <div class="row">
          
          <h3 class="heading">Mars Facts</h3>

        </div>

        <div class="row">
          
          <div style="display:block">{{ record[0].mars_facts|safe }}</div>

        </div>
        

      </div>

    </div>

    
    <div class="row">
      <div class="col-md-12">
        <h2><center><strong>Mars Hemispheres</strong></center></h2>
      </div>

      {% for x in record[0].hemisphere_images %}
      <div class="col-md-6" style="text-align:center">
        <div>
          <img src="{{ x.img_url }}" class="img-fluid" display="inline-block;"  width="100%"/>
          <h4>{{ x.title }}</h4>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</body>

</html>
